a {
    cursor: pointer;
}

ul {
    list-style: none;
    padding:0;
}

li {
    padding: 10px;
}

li:nth-child(odd) {
    background-color: #efefef;
}

li img {
    max-width: 10%;
    display: block;
}

#character-list {
    display: block;
    visibility: visible;
}

.spinner {
    position: relative;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: none; /* Initially hidden */
}

#loading-spinner {
    display: block;
}